body {
    background-color: brown;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

ul a {
    margin: 2.5em;
    color: blanchedalmond;
    text-decoration: none;
    list-style-type: none;
}